body {
        font-family: sans-serif;
        text-align: center;
        padding: 20px;
      }
      #reader {
        width: 300px;
        margin: auto;
      }

      button {
        display: block;
      }

      #reader.active button {
        display: block;
      }

      .file-upload {
        display: none;
      }